<nav class="navbar navbar-light" style="background-color: #f0e68c;">
  <a class="navbar-brand" href="#">Datamix Services</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item-active">
        <a class="nav-link" href="/entradas/new">Agregar Información</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/graficos/new">Gráficos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/parser">Parser</a>
      </li>
    </ul>
  </div>
</nav>
