<!--The content below is only a placeholder and can be replaced. -->
<div style="text-align:center">
   <h1>
      Welcome to {{test}}.
   </h1>
</div>

<!-- 

<div> Reaccion :
   <select name="REACC" [(ngModel)] = "Reacci">
      <option *ngFor="let i of reaccion" [ngValue] = "Comediante">{{Comediante.presentador}}</option>
   </select>
   <button (click)="addHero(newHero.value)">Add</button>
</div>

<button (click)="myClickFunction($event)">
   Veamos como falla
</button>

-->

<div>

<select>
	<option *ngFor="let i of archivos">{{i}}</option>
</select>

</div>